/*Main*/

* {
  box-sizing: border-box;
  color: #A9A9A9;
  font-style: italic;
}

header {
  display: flex;
  padding: 2em;
  justify-content: center;
}

#gallerySearch {
  width: 40vw;
  height: 2em;
  border-style: solid;
  border-radius: .5em;
  border-color: #A9A9A9;
  padding: 5px;
}

.gallery {
  display: flex;
  max-width: 980px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2.5em;
  margin: auto;
}

.gallery img {
  height: 200px;
  width: 200px;
  padding-bottom: 2em;
}

/*Lightbox*/

.lb-nav a.lb-next, .lb-nav a.lb-prev {
  opacity: 1;
}
